<div class="pin-payments-form" data-key="" data-payment-form-namespace="{{ handle|commercePaymentFormNamespace }}">
  {% import "_includes/forms" as forms %}
  <fieldset class="card-holder">
    <div class="row">
      <div class="col-md-6">
        <label for="number" class="d-none">
          Card Number
        </label>
        {{ forms.text({
          name: 'number',
          id: 'number',
          maxlength: 19,
          placeholder: "•••• •••• •••• ••••"|t('commerce'),
          autocomplete: false,
          class: 'form-control mb-3 card-number'~(paymentForm.getErrors('number') ? ' error'),
          required: 'required'
        }) }}
      </div>
      <div class="col-md-6">
        <div class="input-group mb-1">
          <label for="expiry" class="d-none">
            Expiration
          </label>
          {{ forms.text({
            class: 'form-control mb-3 card-expiry'~(paymentForm.getErrors('month') or paymentForm.getErrors('year') ? ' error'),
            type: 'text',
            name: 'expiry',
            id: 'expiry',
            placeholder: "MM"|t('commerce')~'/'~"YYYY"|t('commerce'),
            required: true
          }) }}
          <label for="cvv" class="d-none">
            CVV
          </label>
          {{ forms.text({
            type: 'tel',
            name: 'cvv',
            id: 'cvc',
            placeholder: "CVV"|t('commerce'),
            class: 'form-control mb-3 card-cvv'~(paymentForm.getErrors('cvv') ? ' error'),
            required: true
          }) }}
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Card Holder Name -->
      <div class="input-group mb-3">

        <label for="name" class="d-none">
          Card First Name
        </label>
        {{ forms.text({
          name: 'firstName',
          id:'name',
          maxlength: 70,
          placeholder: "First Name"|t('commerce'),
          autocomplete: false,
          class: 'form-control mb-3 card-holder-first-name'~(paymentForm.getErrors('firstName') ? ' error'),
          required: true,
        }) }}

        <label for="lastName" class="d-none">
          Card Last Name
        </label>
        {{ forms.text({
          name: 'lastName',
          id: 'lastName',
          maxlength: 70,
          placeholder: "Last Name"|t('commerce'),
          autocomplete: false,
          class: 'form-control mb-3 card-holder-last-name'~(paymentForm.getErrors('lastName') ? ' error'),
          required: true,
        }) }}
      </div>
    </div>

    {% set errors = [] %}
    {% for attributeKey in ['firstName', 'lastName'] %}
      {% set errors = errors|merge(paymentForm.getErrors(attributeKey)) %}
    {% endfor %}

    {{ forms.errorList(errors) }}


    {% set errors = [] %}
    {% for attributeKey in ['number', 'month', 'year', 'cvv'] %}
      {% set errors = errors|merge(paymentForm.getErrors(attributeKey)) %}
    {% endfor %}

    {{ forms.errorList(errors) }}

  </fieldset>
</div>
<script>
   window.formPrefix = "{{ 'paymentForm-' ~ handle ~ '-'}}";
</script>
