<div class="pin-payments-form" data-key="" data-payment-form-namespace="{{ handle|commercePaymentFormNamespace }}">
  {% import "_includes/forms" as forms %}
  <fieldset class="card-holder">
    <div class="row">
      <div class="col-12">
        <!-- Cardholder Name -->
        <label for="name" class="form-label">
          Credit Card Full Name
        </label>
        {{ forms.text({
          name: 'fullName',
          id:'name',
          maxlength: 70,
          placeholder: "e.g. Jane Smith"|t('commerce'),
          autocomplete: false,
          class: 'form-control mb-3 card-holder-first-name'~(paymentForm.getErrors('fullName') ? ' error'),
          required: true,
        }) }}
      </div>
{#
        <label for="lastName" class="d-none">
          Card Last Name
        </label>
        {{ forms.text({
          name: 'lastName',
          id: 'lastName',
          maxlength: 70,
          placeholder: "Last Name"|t('commerce'),
          autocomplete: false,
          class: 'form-control mb-3 card-holder-last-name'~(paymentForm.getErrors('lastName') ? ' error'),
          required: true,
        }) }}
#}
    </div>
    <div class="row">
      <div class="col-md-6 card-number-wrap">
        <label for="number" class="form-label">
          Credit Card Number
        </label>
        {{ forms.text({
          name: 'number',
          id: 'number',
          maxlength: 19,
          placeholder: "•••• •••• •••• ••••"|t('commerce'),
          autocomplete: false,
          class: 'form-control mb-3 card-number'~(paymentForm.getErrors('number') ? ' error'),
          required: true
        }) }}
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label for="expiry" class="form-label">
              Expiry <span class="fw-normal small">(MM/YY)</span>
            </label>
            {{ forms.text({
              class: 'form-control mb-3 card-expiry'~(paymentForm.getErrors('month') or paymentForm.getErrors('year') ? ' error'),
              type: 'tel',
              name: 'expiry',
              id: 'expiry',
              placeholder: "e.g. 06/" ~ (now|date_modify("+3 year"))|date("y"),
              maxlength: '7',
              required: true,
            }) }}
          </div>
          <div class="col-md-6 cvv-wrap">
            <label for="cvv" class="form-label">
              CVV
            </label>
            {{ forms.text({
              type: 'tel',
              name: 'cvv',
              id: 'cvc',
              placeholder: "e.g. 135"|t('commerce'),
              class: 'form-control mb-3 card-cvv'~(paymentForm.getErrors('cvv') ? ' error'),
              required: true,
            }) }}
          </div>
        </div>
      </div>
    </div>
    {% set errors = [] %}
    {% for attributeKey in ['fullName', 'number', 'month', 'year', 'cvv'] %}
      {% set errors = errors|merge(paymentForm.getErrors(attributeKey)) %}
    {% endfor %}

    {{ forms.errorList(errors) }}

  </fieldset>
</div>
<script>
   window.formPrefix = "{{ 'paymentForm-' ~ handle ~ '-'}}";
</script>
